### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
players_count1 = len(purchase_data["SN"].unique())

In [6]:
summary_table = pd.DataFrame({"Total Players": [players_count1]})
summary_table.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#Calculate number of Unique Items
number_items = len(purchase_data["Item ID"].unique())
#Calculate Average Price of unique items
avg_price = purchase_data["Price"].mean()
#Calculate Number of Purchases
number_purchases = purchase_data["Purchase ID"].count()
#Calculate Total Revenue
total_revenue = purchase_data["Price"].sum()

In [12]:
type(avg_price)

float

In [29]:
#Display summary df
summary_df = pd.DataFrame({"Number of Unique Items": [number_items],
                          "Average Price": [avg_price],
                          "Number of Purchases": [number_purchases],
                          "Total Revenue": [total_revenue],})

summary_df1 = summary_df.style.format({'Average Price': '${:,.2f}', 'Total Revenue':'${:,.2f}'})
summary_df1

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
#purchase_data.info()

In [7]:
#purchase_data.describe(include='all')

In [8]:
#Determine duplicate values in Gender List from SN list
#pd.concat(g for _, g in purchase_data.groupby("SN") if len(g) > 1)

In [9]:
#Remove duplicate values from gender list
PurData_uniqueSN = purchase_data.drop_duplicates(['SN'])

In [10]:
#Total Count Males 
#Total Count Females
#      "" Other/Non-Disclosed
gender_counts = PurData_uniqueSN["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [11]:
#Convert gender_counts series into DF with a column named as "Total Count"
gender_counts = PurData_uniqueSN['Gender'].value_counts().reset_index()
gender_counts.columns = ['Gender','Total Count']
#Calculate percentage and add to final Data Frame 
gender_counts['Percentage of Players']= (gender_counts['Total Count']/gender_counts['Total Count'].sum()).mul(100).round(2)
gender_counts_df = pd.DataFrame(gender_counts)
#Set the 'Gender' as index
gender_counts_df = gender_counts_df.set_index('Gender')
gender_counts_df.head()

                       Total Count  Percentage of Players
Gender
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
## Using GroupBy in order to separate the data into fields according to "Gender" values
groupby_gender_df = purchase_data.groupby("Gender")
groupby_gender_df.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89

In [13]:
# Calculations needed: Purchase Count, Average Purchase Price, Total Purchase Value, Avg Total Purchase per Person
purchase_count = groupby_gender_df["Purchase ID"].count()
avg_purchasePrice = groupby_gender_df["Price"].mean()
avg_purchasePrice = avg_purchasePrice.map("${:.2f}".format)
tot_purchaseValue = groupby_gender_df["Price"].sum()
tot_purchaseValue2 = tot_purchaseValue.map("${:.2f}".format)

In [14]:
gender_unique_person = PurData_uniqueSN.groupby(["Gender"]).count()
gender_unique_person = gender_unique_person.loc[:,["SN"]]
gender_unique_person = gender_unique_person.rename(columns= {"SN":"Total Count"})
avg_tot_person = tot_purchaseValue/gender_unique_person['Total Count']
avg_tot_person = avg_tot_person.map("${:.2f}".format)

In [15]:
# Create summary data frame
summary_df2 = pd.DataFrame({"Purchase Count": purchase_count,
                          "Average Purchase Price": avg_purchasePrice,
                          "Total Purchase Value": tot_purchaseValue2,
                          "Avg Total Purchase per Person": avg_tot_person,})
summary_df2.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#bins for ages
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

45
7

In [17]:
uniqueSN_Age = purchase_data.drop_duplicates(['SN'])
uniqueSN_Age = uniqueSN_Age.loc[:,["Age"]]

In [18]:
#Establish Bin
bins= [0, 10, 15, 20, 25, 30, 35, 40, 100]
print(len(bins))
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

9

In [19]:
#Categorize the existing players using the age bins. Hint: use pd.cut()
uniqueSN_Age["Age Group"] = pd.cut(uniqueSN_Age["Age"], bins, labels=group_labels, right=False)
uniqueSN_Age.head()

   Age Age Group
0   20     20-24
1   40       40+
2   24     20-24
3   24     20-24
4   23     20-24

In [20]:
age_group = uniqueSN_Age.groupby("Age Group").count()
age_group

           Age
Age Group
<10         17
10-14       22
15-19      107
20-24      258
25-29       77
30-34       52
35-39       31
40+         12

In [21]:
age_group = age_group.rename(columns={'Age':'Total Count'})
age_group['Percentage of Players']= (age_group['Total Count']/age_group['Total Count'].sum()).mul(100).round(2)
age_group_df = pd.DataFrame(age_group)
#Set the 'Gender' as index
age_group_df

           Total Count  Percentage of Players
Age Group
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Bin the purchase_data data frame by age
# Slice the data and place it into bins
x= pd.cut(purchase_data ['Age'], bins, labels=group_labels).head()
purchase_data ['Age Group'] = pd.cut(purchase_data ['Age'], bins, labels=group_labels, right=False)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [23]:
#Run basic calculations
PurData_AgeGroup = purchase_data.groupby(["Age Group"])
PurData_AgeGroup_count = PurData_AgeGroup["Purchase ID"].count()
avg_purPrice = PurData_AgeGroup["Price"].mean()
avg_purPrice = avg_purPrice.map("${:.2f}".format)
tot_purValue = PurData_AgeGroup["Price"].sum()
tot_purValue2 = tot_purValue.map("${:.2f}".format)

In [24]:
# Slice the data and place it into bins
PurData_uniqueSN ['Age Group'] = pd.cut(PurData_uniqueSN ['Age'], bins, labels=group_labels, right=False)
#Run basic calculations
PurData_AgeGroupUni = PurData_uniqueSN.groupby(["Age Group"]).count()
PurData_AgeGroupUni = PurData_AgeGroupUni.loc[:,["SN"]]
PurData_AgeGroupUni = PurData_AgeGroupUni.rename(columns= {"SN":"Total Count"})
avg_tot_person = tot_purValue/PurData_AgeGroupUni['Total Count']
avg_tot_person = avg_tot_person.map("${:.2f}".format)

/Users/vasquezvel/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
# Create summary data frame
summary_df3 = pd.DataFrame({"Purchase Count": PurData_AgeGroup_count,
                          "Average Purchase Price": avg_purPrice,
                          "Total Purchase Value": tot_purValue2,
                          "Avg Total Purchase per Person": avg_tot_person,})
summary_df3.sort_index(ascending=False)
summary_df3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
#Run basic calculations
PurData_SNGroup = purchase_data.groupby("SN")

PurData_SNGroup_count = PurData_SNGroup["Purchase ID"].count()

SNavg_purPrice = PurData_SNGroup["Price"].mean()
SNavg_purPrice = SNavg_purPrice.map("${:.2f}".format)

SNtot_purValue =  PurData_SNGroup["Price"].sum()
SNtot_purValue2 = SNtot_purValue.map("${:.2f}".format)

In [27]:
summary_df4 = pd.DataFrame({"Purchase Count": PurData_SNGroup_count,
                          "Average Purchase Price": SNavg_purPrice,
                          "Total Purchase Value": SNtot_purValue2,})
summary_df4 = summary_df4.sort_values("Purchase Count", ascending=False)
summary_df4.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
#Run basic calculations
ItemID_Name_Group = purchase_data.groupby(["Item ID", "Item Name"])

ItemID_Name_Groupp_count = ItemID_Name_Group["Purchase ID"].count()
 
avg_ItemPrice = ItemID_Name_Group["Price"].mean()
avg_ItemPrice = avg_ItemPrice.map("${:.2f}".format)

Itemtot_purValue =  ItemID_Name_Group["Price"].sum()
Itemtot_purValue2 = Itemtot_purValue.map("${:.2f}".format)

In [41]:
summary_df5 = pd.DataFrame({"Purchase Count": ItemID_Name_Groupp_count,
                          "Item Price": avg_ItemPrice,
                          "Total Purchase Value": Itemtot_purValue2,})
summary_df5_1 = summary_df5.sort_values("Purchase Count", ascending=False)
summary_df5_1.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,$50.76
145,Fiery Glass Crusader,9,4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,$31.77
82,Nirvana,9,4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [32]:
ItemID_Name_Group = purchase_data.groupby(["Item ID", "Item Name"])

ItemID_Name_Groupp_count = ItemID_Name_Group["Purchase ID"].count()
 
avg_ItemPrice = ItemID_Name_Group["Price"].mean()

Itemtot_purValue =  ItemID_Name_Group["Price"].sum()

summary_df6 = pd.DataFrame({"Purchase Count": ItemID_Name_Groupp_count,
                          "Item Price": avg_ItemPrice,
                          "Total Purchase Value": Itemtot_purValue,})

summary_df6_1 = summary_df6.sort_values("Total Purchase Value", ascending=False)
summary_df6_2 = summary_df6_1.style.format({'Item Price': '${:,.2f}', 'Total Purchase Value':'${:,.2f}'})
summary_df6_2.head()

In [31]:
type(summary_df6_1)

pandas.core.frame.DataFrame